---
# handlers file for beats

- name: restart beat
  service: name={{ beat }} state=restarted enabled=yes
  when: start_service and restart_on_change and not beats_started.changed and beat_install.changed
