################### {{beat}} Configuration #########################

############################# {{beat}} ######################################
{{beats_conf | to_nice_yaml}}

###############################################################################
############################# Libbeat Config ##################################
# Base config file used by all other beats for using libbeat features

############################# Output ##########################################

{{ beats_output_conf | to_nice_yaml }}

############################# Shipper #########################################

{{ beats_shipper_conf | to_nice_yaml }}

############################# Logging #########################################

{{ beats_logging_conf | to_nice_yaml }}

