# {{ ansible_managed }}

################### {{beat}} Configuration #########################

############################# {{beat}} ######################################
{{ beat_conf | to_nice_yaml(indent=2) }}

###############################################################################
############################# Libbeat Config ##################################
# Base config file used by all other beats for using libbeat features

############################# Output ##########################################

{{ beat_output_conf | to_nice_yaml(indent=2) }}

{% if shipper_conf is defined %}############################# Shipper #########################################

{{ beat_shipper_conf | to_nice_yaml(indent=2) }}
{% endif %}
############################# Logging #########################################

{{ beat_logging_conf | to_nice_yaml(indent=2) }}
